/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
header {
font-family: 'Oswald', sans-serif;
}

#headerWrap {
	background-color: black;
	height: 100px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-family: 'Oswald', sans-serif;
	/*box-shadow: 0 5px 5px -3px black;*/
}

#menu {
	position: absolute;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 75px;
	height: 75px;
	visibility: hidden;
}

#menu button {
	margin:auto;
	height: 40px;
	width: 40px;
	background-image: url("menu.png");
	background-size: cover;
	background-color:black;
	outline: none;
	border: none;
}

#h1holder {
	margin: auto;
}

#h1holder h1 {
	font-size: 4em;
	font-family: 'Oswald', sans-serif;
	color: white;
}

#heading1 {
	color: #05EDFF;
	font-family: 'Oswald', sans-serif;
}

#chatBody {
	visibility: hidden;
}

#leftSide {
	background-color: #95A5A6;
	height: 650px;
	width: 20%;
	float:left;
	border-top: 5px solid #6C7A89;
}

#avatarHolder {
	height: 150px;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#avatarPic {
	margin: auto;
	height:100px;
	width:100px;
	border: 3px solid #6C7A89;
	border-radius: 5px;
	background-size: cover;
}

#nameHolder {
	height: 50px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#nameProf {
	color: white;
	font-family: 'Oswald', sans-serif;
	margin: auto;
	font-size: 2em;
	text-shadow: black 0 2px;
}

#textArea {
	height: 650px;
	width: 60%;
	float: left;
}

/*chat area ... */
#chatbox {
	width: 100%;
	height: 600px;
	overflow-y: scroll;
}

#msgHolder {
	width: 100%;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

#msgAvatar {
	height: 40px;
	width: 40px;
	float: left;
	margin-left: 3%;
	background-size: cover;

}

#msgName {
	float: left;
	/*margin-top: 15px;*/
	margin-left: 2%;
	margin-right: 1%;
	font-weight: bolder;
}

#msgTime {
	float: left;
	/*margin-top: 15px;*/
	margin-left: 1%;
	margin-right: 1%;
	position: relative;
	top: 2;
	left: -5;
	font-size: .8em;
	color: #D2D7D3;
}

#msgTime:hover {
	color: #ABB7B7;
}

#msg {
	float: left;
	width: 550px;
	margin-top: 15px;
	margin-left: 2%;
	margin-right: 1%;
	position: relative;
	text-align: left;
	top: -9px;
	/*left: -120px;*/
	word-wrap: break-all;
	font-weight: 300;
}

@media (max-width: 1075px) {
  #msg {
  	float: left;
		width: 550px;
		margin-top: 15px;
		margin-left: 2%;
		margin-right: 1%;
		position: relative;
		text-align: left;
		top: -9px;
		left: -120px;
		word-wrap: break-all;
		font-weight: 300;
  }
}

@media (min-width:1075px) {
	#msg {

	}
}


#onlineList {
	height: 650px;
	width: 20%;
	float: left;
	background-color: #95A5A6;
	border-top: 5px solid #6C7A89;
	font-family: 'Oswald', sans-serif;
	color: white;
	text-shadow: black 0 2px;
}

#loggedList {
	margin: auto;
	width: 100px;
}

#loggedList li {
	padding-top: 4px;
	padding-bottom: 4px;
}

#textBox {
	width: 95%;
	height:30px;
	padding-left: 10px;
	margin-left: 2%;
	margin-top: 10px;
	margin-right: 5%;
	float: left;
	border-radius: 5px;
	border-color: #ABB7B7;
	border: 2px solid #ABB7B7;
	outline: 0;
	display: fixed;
}

#submit {
	visibility: hidden;
}

#h2holder {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 50px;
}

#h2 {
	margin: auto;
}

div#container {
	position: absolute;
  height:600px;
  width: 100%;
  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  font-family: 'Oswald', sans-serif;
	visibility: visible;
	color: #05EDFF;
}

#signin {
  margin: auto;
  width: 60%;
  height: 400px;
  border: 5px solid #9a9a9a;
  border-radius: 5px;
  background-color: #1b1b1b;
}

.inputHolder {
  width: 100%;
  height: 100px;
  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.inputCenter {
  float: left;
  margin: auto;
  height: 75px;
  width: 70%;
}


.loginInputs {
  width: 60%;
  margin-top: 10px;
  text-align: center;
  height: 30px;
  margin-left: 20%;
  margin-right: 20%;
  vertical-align: middle;
  outline: 0;
  border-radius: 5px;
  border: 5px solid #95A5A6;
}

p {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  vertical-align: middle;
  font-size: 3em;
}

#enter {
    margin-top: 0px;
    margin-left: 30%;
    margin-right: 30%;
    height: 50px;
    width: 40%;
    outline: 0;
    border-radius: 5px;
    border: 5px solid #4d4d4d;
    background-color: #b0b0b0;
    opacity: .5;
    color: white;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
}

#enter:hover {
  opacity: 1;
}

#enter:active {
	border: 10px solid #4d4d4d;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


//////////////////////////////////////
